@font-face {
  font-family: 'Montserrat-Regular';
  src: url("./fuentes/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url("fuentes/Montserrat-Thin.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: 'Montserrat-Regular';
  font-size: 20px;
  color: #FFF;
}

section {
  padding-top: 100px;
}

h2 {
  color: #FFF;
  font-size: 3rem;
  font-family: 'Bodoni Moda', serif;
  text-align: center;
  padding-bottom: 60px;
}

h3 {
  font-size: 2.5rem;
  font-family: 'Bodoni Moda', serif;
  color: #FFF;
  text-align: left;
  padding-left: 60px;
  margin: 60px 0;
}

@media only screen and (min-width: 481px) and (max-width: 991px) {
  section {
    padding-top: 50px;
  }
  h2 {
    font-size: 2.5rem;
    padding-bottom: 30px;
  }
  h3 {
    font-size: 2rem;
    text-align: center;
    padding-left: 0px;
    margin: 30px 0;
  }
}

@media only screen and (max-width: 480px) {
  section {
    padding-top: 50px;
  }
  h2 {
    font-size: 2rem;
    padding-bottom: 30px;
  }
  h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-left: 0px;
    margin: 30px 0;
  }
}

header nav {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 85px;
  width: 100%;
}

header nav.bg-dark {
  background-color: black !important;
}

header nav.navbar-dark .navbar-nav {
  background: #000;
  margin-top: -5px;
}

header nav.navbar-dark .navbar-brand h1 {
  text-indent: -99999px;
  background: url(../imagenes/nombre.svg) top center no-repeat;
  width: 258px;
  height: 42px;
  margin-bottom: 0px;
}

header nav.navbar-dark .navbar-nav .nav-link.active {
  color: gold;
}

header nav.navbar-dark .navbar-nav .redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header nav.navbar-dark .navbar-nav .redes-sociales a {
  margin: 0 10px 0 0;
}

header nav.navbar-dark .navbar-nav .redes-sociales a i.fab {
  font-size: 1.5rem;
  color: #FFF;
  margin-left: 10px;
}

header nav.navbar-dark .navbar-toggler {
  border: none;
}

header nav.navbar-dark .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header nav a {
  font-family: 'Montserrat-Regular';
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  margin: 0px 20px 0px 20px;
}

@media only screen and (max-width: 991px) {
  header nav.navbar-dark .navbar-toggler #navbar-close {
    font-size: 25px;
    margin-right: 5px;
  }
  header nav.navbar-dark .navbar-nav {
    background: #000;
    margin-top: -5px;
  }
  header nav.navbar-dark .navbar-nav .redes-sociales {
    position: relative;
    left: unset;
    bottom: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  header nav.navbar-dark .navbar-nav .redes-sociales .fab {
    margin: 0px;
  }
  header nav.navbar-dark .navbar-nav .redes-sociales span {
    font-size: 12px;
    line-height: 16px;
    color: #FFF;
  }
  header nav.navbar-dark .navbar-brand h1 {
    margin-top: 10px;
    width: 180px;
    height: 50px;
  }
}

section#inicio {
  padding-top: 0px;
}

section#inicio .inicio-section {
  position: relative;
}

section#inicio .inicio-section .logo {
  position: absolute;
  z-index: 1000;
  top: 90px;
  width: 320px;
  left: calc(50% - 160px);
}

section#inicio .inicio-section .portada {
  width: 100%;
  height: 900px;
  background-size: cover;
  background: url(../imagenes/portada.jpg);
  background-position: center center;
}

@media only screen and (max-width: 480px) {
  section#inicio .inicio-section .logo {
    width: 220px;
    left: calc(50% - 110px);
    top: 90px;
  }
  section#inicio .inicio-section .portada {
    height: 750px;
    background: url(../imagenes/torta2.jpg);
    background-position: center 25px;
  }
  section#inicio .inicio-section .redes-sociales {
    position: relative;
    left: unset;
    bottom: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  section#inicio .inicio-section .redes-sociales .fab {
    font-size: 2rem;
    color: white;
    margin: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .nosotros-seccion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .parrafo-nosotros {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
  }
}

#servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#servicios .slider-container .slick-prev {
  left: 15px;
  z-index: 9999;
}

#servicios .slider-container .slick-prev:before {
  content: url(../imagenes/flechaIzquierda.svg);
}

#servicios .slider-container .slick-list {
  width: 80%;
  margin: 0 auto;
}

#servicios .slider-container .slick-list .slide {
  margin-right: 10px;
}

#servicios .slider-container .slick-list .slide img {
  width: 320px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

#servicios .slider-container .slick-next {
  right: 15px;
  z-index: 9999;
}

#servicios .slider-container .slick-next:before {
  content: url(../imagenes/flechaDerecha.svg);
}

@media only screen and (max-width: 991px) {
  #servicios .slider-container .slick-prev {
    left: 10px;
  }
  #servicios .slider-container .slick-list {
    width: 70%;
  }
  #servicios .slider-container .slick-next {
    right: 10px;
  }
}

#lapasteleria p {
  padding: 0 0;
}

#lapasteleria .galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 30px 0;
}

#lapasteleria .galeria .imagen-pasteleria {
  width: 400px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 10px;
}

@media only screen and (max-width: 991px) {
  #lapasteleria .galeria {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #lapasteleria .galeria .imagen-pasteleria {
    width: 380px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 10px 0;
  }
}

.contacto-seccion .direccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto-seccion .direccion p {
  padding: 10px 0;
  font-size: 1rem;
}

.contacto-seccion .direccion p a {
  color: #fff;
  text-decoration: none;
}

.contacto-seccion .direccion iframe {
  padding: 10px 0;
  font-size: 1rem;
}

.contacto-seccion .direccion i.fas {
  color: gold;
  font-size: 20px;
}

.contacto-seccion .formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto-seccion .formulario .form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  /* reset input */
}

.contacto-seccion .formulario .form__group #nombre-error,
.contacto-seccion .formulario .form__group #email-error,
.contacto-seccion .formulario .form__group #message-error {
  font-size: 14px;
  display: block;
  color: red;
  margin-top: 10px;
}

.contacto-seccion .formulario .form__group .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #FFF;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.contacto-seccion .formulario .form__group .form__field::-webkit-input-placeholder {
  color: transparent;
}

.contacto-seccion .formulario .form__group .form__field:-ms-input-placeholder {
  color: transparent;
}

.contacto-seccion .formulario .form__group .form__field::-ms-input-placeholder {
  color: transparent;
}

.contacto-seccion .formulario .form__group .form__field::placeholder {
  color: transparent;
}

.contacto-seccion .formulario .form__group .form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.contacto-seccion .formulario .form__group .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.contacto-seccion .formulario .form__group .form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #dbbb04, #ffd700);
     border-image: -webkit-gradient(linear, left top, right top, from(#dbbb04), to(#ffd700));
     border-image: linear-gradient(to right, #dbbb04, #ffd700);
  border-image-slice: 1;
}

.contacto-seccion .formulario .form__group .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #dbbb04;
  font-weight: 700;
}

.contacto-seccion .formulario .form__group .form__field:required, .contacto-seccion .formulario .form__group .form__field:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contacto-seccion .formulario .form__group textarea {
  resize: none;
}

.contacto-seccion .formulario .form__group input[type=submit] {
  width: 100%;
  color: #FFF;
  background-color: transparent;
  text-transform: uppercase;
  padding: 7px 0;
  border: 1px solid gold;
  border-radius: 40px 10px;
}

.contacto-seccion .formulario .form__group input[type=submit]:hover {
  -webkit-box-shadow: 1px 1px 25px 10px rgba(248, 238, 146, 0.1);
          box-shadow: 1px 1px 25px 10px rgba(248, 238, 146, 0.1);
}

@media only screen and (max-width: 991px) {
  .contacto-seccion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacto-seccion .direccion {
    margin-right: 0px;
  }
  .contacto-seccion .mapa {
    width: 100%;
    height: auto;
  }
  .contacto-seccion .formulario .form__group {
    padding: 30px 0 0;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.footer p {
  font-size: 14px;
  margin-bottom: 0px;
}

.footer p a {
  text-decoration: none;
  color: #ffff;
  font-size: inherit;
}

.footer p a span.corazon {
  font-size: 20px;
  color: red;
}
/*# sourceMappingURL=style.css.map */