section#inicio {
    padding-top: 0px;
    .inicio-section {
        position: relative;
        .logo {
            position: absolute;
            z-index: 1000;
            top: 90px;
            width: 320px;
            left: calc(50% - 160px);
        }
        .portada {
            width: 100%; 
            height: auto;
            top: 0px;
            z-index: 1;
        }
    }
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
    section#inicio {
        .inicio-section {
            .portada {
                height: max-content;
                object-fit: cover;
                top: 0px;
                z-index: 1;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    section#inicio {
        .inicio-section {
            .logo {
                width: 220px;
                left: calc(50% - 110px);
                top: 90px;
            }
            .portada-mobile
            {
                display: initial;
                height: max-content;
                object-fit: cover;
                top: 0px;
                z-index: 1;
            }
            .redes-sociales{
                position: relative;
                left: unset;
                bottom: unset;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: baseline;
            }
            .redes-sociales {
                .fab {
                    font-size: 2rem;
                    color: rgb(255, 255, 255);
                    margin: 10px;
                }
            }
        }
    }
}