@media only screen and (min-width: 481px) and (max-width: 960px) {
    .menu-container {
        display: none;
    }

    section {
        padding-top: 50px;
    }

    .col-md-6 {
        width: 90%;
    }
    
    .portada {
        height: max-content;
        object-fit: cover;
        top: 0px;
        z-index: 1;
    }

    h2 {
        font-size: 2.5rem;
        padding-bottom: 30px;
    }

    h3 {
        font-size: 2rem;
        text-align: center;
        padding-left: 0px;
        margin: 30px 0;
    }

    .nosotros-seccion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parrafo-nosotros {
        align-items: center;
        padding-top: 30px;
    }


    .galeria {
        flex-direction: column;
        align-items: center;
    }


    .imagen-pasteleria {
        width: 500px;
        height: 700px;
        object-fit: cover;
        margin: 10px 0;
    }

    .contacto-seccion {
        flex-direction: column;
      }
    
    .contacto-seccion .direccion {
        margin-right: 0px;
    }

    .contacto-seccion .mapa {
        width: 100%;
        height: auto;
    }

    /*Carousel*/
    .container {
       max-width: 90%;  
     }
    
    .slick-slide {
        img {
            width: 320px;
            height: 320px;
            object-fit: cover;
        }
     }
}

/* Mobile */
@media only screen and (max-width: 480px) {
    .menu-container {
        display: none;
    }

    section {
        padding-top: 50px;
    }

    .portada {
        display: none;
    }

    .portada-mobile
    {
        display: initial;
        height: max-content;
        object-fit: cover;
        top: 0px;
        z-index: 1;
    }

    h2 {
        font-size: 2rem;
        padding-bottom: 30px;
    }

    h3 {
        font-size: 1.5rem;
        text-align: center;
        padding-left: 0px;
        margin: 30px 0;
    }

    .redes-sociales{
        position: absolute;
        left: 15%;
        bottom: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }

    .redes-sociales {
        .fab {
            font-size: 2rem;
            color: rgb(255, 255, 255);
            margin: 10px;
        }
    }


    .nosotros-seccion {
        flex-direction: column;
        align-items: center;
    }

    .parrafo-nosotros {
        align-items: center;
    }


    .servicios-seccion {
        p  {
            padding: 0 0;
        }
    }

    .la-pasteleria {
        p  {
            padding: 0 0;
        }
    }

    .galeria {
        flex-direction: column;
        align-items: center;
    }

    .imagen {
        width: 320px;
        height: 320px;
        object-fit: cover;
        margin: 10px 0;
    }

    .imagen-pasteleria {
        width: 320px;
        height: 400px;
        object-fit: cover;
        margin: 10px 0;
    }

    .contacto-seccion {
        flex-direction: column;
      }
    
    .contacto-seccion .direccion {
        margin-right: 0px;
    }

    .contacto-seccion .mapa {
        width: 100%;
        height: auto;
    }

    /*Carousel*/
    .slick-slide {
        img {
            width: 320px;
            height: 320px;
            object-fit: cover;
        }
      }
      
      .container {
        width: 90%;
      }
    
}