
@media only screen and (max-width: 991px) {
    .nosotros-seccion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parrafo-nosotros {
        align-items: center;
        padding-top: 30px;
    }
}

