#servicios {
    display: flex;
    justify-content: center;
    flex-direction: column;
	.slider-container {
		.slick-prev {
			left: 15px;
			z-index: 9999;
			&:before {
				content: url(../imagenes/flechaIzquierda.svg);
			}
		}
		.slick-list {
			width: 80%;
			margin: 0 auto;
			.slide {
				margin-right: 10px;
				img {
					width: 320px;
					height: 320px;
					object-fit: cover;
				}
			}
		}
		.slick-next {
			right: 15px;
			z-index: 9999;
			&:before {
				content: url(../imagenes/flechaDerecha.svg);
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	#servicios {
		.slider-container {
			.slick-prev {
				left: 10px;
			}
			.slick-list {
				width: 70%;
			}
			.slick-next {
				right: 10px;
			}
		}
	}
}